{% load i18n %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">🌀 Beyblade X</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Cadastro de Usuário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login de Usuário</a>
                </li>

                <!-- Dropdown: Cadastro de Partes -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Cadastro de Partes
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Blade</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Ratchet</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Bit</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">LockChip</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">MainBlade</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">AssistBlade</a>
                        </li>
                    </ul>
                </li>

                <!-- Dropdown: Exibir -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Exibir
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Blade</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Ratchet</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Bit</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">LockChip</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">MainBlade</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">AssistBlade</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <button id="toggleTheme" class="btn btn-outline-light btn-sm ms-3 btn-toggle-theme">
                        🌙 Alternar Tema
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>