/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

@keyframes pulse-subtle {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
}
.hover-pulse:hover {
    animation: pulse-subtle 2s infinite;
}
.blade-card {
    transition: all 0.3s ease;
}
.blade-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.filter-btn.active {
    background-color: #3b82f6;
    color: white;
}

:root {
    --bg-color: #0f0f0f;
    --text-color: #ffffff;
    /* texto mais claro no escuro */
    --navbar-color: #1c1c1c;
    --dropdown-color: #2a2a2a;
    --dropdown-hover: #444;
    --footer-color: #1c1c1c;
}

body.dark-mode {
    --bg-color: #ffffff;
    --text-color: #212529;
    --navbar-color: #f8f9fa;
    --dropdown-color: #ffffff;
    --dropdown-hover: #e9ecef;
    --footer-color: #f1f1f1;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: var(--navbar-color);
    transition: background-color 0.3s ease;
}

.navbar,
footer {
    background-color: var(--navbar-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-brand,
.dropdown-menu .dropdown-item {
    color: var(--text-color) !important;
}

.navbar .navbar-nav .nav-link:hover,
.dropdown-menu .dropdown-item:hover {
    background-color: var(--dropdown-hover);
}

.dropdown-menu {
    background-color: var(--dropdown-color);
}

.dropdown-item:hover {
    background-color: var(--dropdown-hover);
}

header {
    padding: 3rem 1rem;
    text-align: center;
}

/* Footer */
footer {
    background-color: var(--footer-color);
    color: var(--text-color);
    padding: 1.5rem 0;
    text-align: center;
    margin-top: auto;
}

.btn-toggle-theme {
    color: var(--text-color);
    border-color: var(--text-color);
}

.btn-toggle-theme:hover {
    background-color: var(--dropdown-hover);
}
